[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
djangorestframework = "*"
mysqlclient = "*"
django-filter = "*"
django-cors-headers = "*"
django-allauth = "*"
dj-rest-auth = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-coreapi = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]

[scripts]
server = "python manage.py runserver"
