[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
django-filter = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
django-extra-fields = "*"
pillow = "*"
django-allauth = "*"
django-rest-auth = "*"
django-debug-toolbar = "==2.2"
django-environ = "*"
django-coreapi = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
server = "python manage.py runserver"
